*,
*::before,
*::after {
  -webkit-box-sixing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

img {
  height:150px;
  width: 150px;
  margin: 0 0 0 0;
}

.grey-box {
  width: 350px;
  height:350px;
  padding: 20px;
  border: 30px solid grey;
  margin: 200px 200px 200px 200px;
  position: absolute;
}

.blue-box {
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: -25px 25px 25px -25px;
    border: 5px solid #66b7ff;
    background-color: #c4e3ff;
    color: #ae58bc;
    text-align: center;
    font-size: large;
    position: relative;
}

 #caption {
  padding: 1px;
  margin: 10px 10px 10px 10px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: lightgrey;
  border: 2px solid grey;
  font-size: small;
}

.purple-box {
  width: 600px;
  height:350px;
  padding: 0;
  border: 3px solid #ae58bc;
  margin: 200px 600px;
  float: right;
  color: grey;
  font-family: sans-serif;
  position: absolute;
  font-size: large;
}

.purple-header {
  width: 600px;
  height:50px;
  margin:0;
  padding: 2px 2px 2px 200px;
  border-bottom: 3px solid #ae58bc;
  color: #ae58bc;
  text-align: right;
}

.purple-text {
  padding: 100px 100px 50px 100px;
  text-align: center;
}

#numbers {
  padding: 20px;
}

#letters {
  float: left;
  padding-left:60px;
  padding-top:20px;
}
