*,
*::before,
*::after {
  -webkit-box-sixing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

img {
  height:150px;
  width: 150px;
  margin: 0 0 0 0;
}

.lemon {
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    border: 5px solid #66b7ff;
    background-color: #c4e3ff;
    color: purple;
    text-align: center;
    position: relative;
    margin: 300px 300px 300px 300px;
};

.lemon #caption {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, 50%);
  background-color: grey;
  border: 10px solid grey;
}
